body {
   margin: 0;
   padding: 0;
   min-height: 100vh;
   color: #D9D9D9;
}

.container {
   margin: 20px;
}

.row {
   width: 100%;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.header {
   display: flex;
   justify-content: center;
   align-items: center;
   background: #263238;
   position: relative;
   flex: 1;
}