div.title {
  color: #4acaa8;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1em;
  margin: 0;
}

div.subTitle {
  color: #aaa;
  position: relative;
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 20px;
}

.descriptionText {
  color: #aaa;
  position: relative;
  margin: 0 0 1.6875em 0;
}
label {
  display: inline;
}

input[type='text'] {
  height: 50px;
  font: 15px/24px sans-serif;
  box-sizing: border-box;
  padding: 0.3em;
  transition: 0.3s;
  letter-spacing: 1px;
  color: #03BE33;
  border: 1px solid #4acaa8;
  box-shadow: 1px 1px 2px 0 #707070 inset;
  border-radius: 4px;
  width: auto;
}

input[type='text']::placeholder {
  color: #aaaaaa;
}

input[type='text']:-ms-input-placeholder {
  color: #aaaaaa;
}

input[type='text']::-ms-input-placeholder {
  color: #aaaaaa;
}

input[type='text']:focus {
  outline: none;
  box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}

a.button {
  position: relative;
  display: inline-block;
  padding: 0.8em;
  text-align: center;
  text-decoration: none;
  color: #FFF;
  background: #4acaa8;
  border-bottom: 2px solid #00838F;
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
}

a.button:active {
  border-bottom: 2px solid #26C6DA;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}
.coverInput {
  margin-bottom: 20px;
}

textarea {
  padding: 0.8em;
  text-align: center;
  text-decoration: none;
  color: #FFF;
  background: #2d7c6d;
  border-bottom: 2px solid #00838F;
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
}

table {
  display: inline;
  margin: 0;
}

hr {
  height: 3px;
  border: none;
  border-top: 3px #e3e3e3 solid;
}